body {
  margin: 0;
  background: linear-gradient(19deg, #090E19 0%, #090E19 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #E7EBEB;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
  height: 100vh;
}

a:link, a:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover, a:active {
  color: currentColor;
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  @media (min-width: 768px) {
    #root {
      display: grid;
      grid-template-columns: 240px 1fr;
      grid-template-rows: 1fr auto;
    }
  }

.bookmark {
  background-color: rgba(0,0,0,0.8);
  padding: 1rem;
}

.branding {
  margin: 0 0 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.page {
  padding: 1rem;
}

.footer {
  grid-column: span 2;
  background-color: #000000;
  padding: 1.0rem;
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item--hasItems {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.list__tracks {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-item__track {
  margin-top: 0.25rem;
}

.list__albums {
  display: flex;
  flex-wrap: wrap;
}

.list-item__album {
  flex: 1 1 128px;
  margin: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 3px;
  background-color: #010101;
}

.list-item__album:hover, .list-item__album:active, .list-item__album:focus {
  border: 1px solid rgba(255,255,255,0.4);
}

.link__album {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 0.90rem;
}

.link__album:hover, .link__album:active, .link__album:focus {
  text-decoration: none;
}




.album {
  position: relative;
}

.album__player, .album__player div, .player {
  width: 100%;
}

.album__player {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #000000;
}

.album__details {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
}

.title__album {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.track {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
  color: currentColor;
  text-align: left;
  font-size: 1.0rem;
  justify-content: space-around;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.track:hover, .track:active, .track:focus {
  background-color: rgba(0,0,0,1);
}

.track > * {
  flex: 1 1 auto;
  margin: 0 0.5rem;
  pointer-events: none;
}

.track__duration {
  text-align: right;
}